<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Testing</title>
    <link rel="stylesheet" href="../assets/css/index.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <header id="header">
      <nav>
        <div class="container">
          <div class="text-center">
            <a href="/" class="nav-brand text-dark">Crazy Crazy</a>
          </div>
        </div>
      </nav>
    </header>

    <main id="site-main">
      <div class="container">
        <div class="box-nav d-flex-jstify-between">
          <div class="filter">
            <a href="/"><i class="fas fa-angle-double-left"></i> users</a>
          </div>
        </div>
        <div class="form-title text-center">
          <h2 class="text-dark">New User</h2>
          <span class="text-light"
            >Use the below form to create a new account</span
          >
        </div>

        <form method="POST" id="update_user">
          <div class="new_iser">
            <div class="form-group">
              <label for="name" class="text-light">Name</label>
              <input type="hidden" name="id" value="" />
              <input
                type="text"
                name="name"
                value=""
                placeholder="Deepak Pattnayak"
              />
            </div>

            <div class="form-group">
              <label for="Email" class="text-light">Email</label>
              <input
                type="text"
                name="name"
                value=""
                placeholder="example@gmail.com"
              />
            </div>
            <div class="form-group">
              <label for="gender" class="text-light">Gender</label>
              <div class="radio inline">
                <input type="radio" name="gender" value="male" />
                <label for="gender" class="radio-label">Male</label>
              </div>

              <div class="radio inline">
                <input type="radio" id="" name="gender" value="male" />
                <label for="gender" class="radio-label">Female</label>
              </div>
                
              <div class="form-group">
                <label for="gender" class="text-light">Stauts</label>
                <div class="radio inline">
                  <input type="radio" name="status" value="Active" />
                  <label for="gender" class="radio-label">Active</label>
                </div>
  
                <div class="radio inline">
                  <input type="radio" name="status" value="Inactive" />
                  <label for="gender" class="radio-label">Inactive</label>
                </div>

                <div class="form-group">
                  <button type="submit" class=" btn text-dark update">Save</button>
                </div>

            </div>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
